p
{
  font-size: 15px;
}

h5
{
  margin: 10px;
  font-size: 1.3em;
  font-weight: 600;
}

.item-card-wrap
{
  height: 18em;
  width: 16em;
  display: inline-block;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  white-space: pre-line;
  margin:1em;
}

.item-image
{
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
}

.item-description
{
  background-color: #FAFAFC;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.item-card-wrap:hover .item-image
{
  height: 18em;
}

.item-card-wrap:hover .item-description
{
  height: 5.5em;
  padding: 0px 1em;
}

.horizontal-list {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}